<h1>Tweets:</h1>
<p>
  <strong>Title:</strong>
  <%= @tweet.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @tweet.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tweet.created_at %>
</p>


<%= link_to 'Back', tweets_path %>
